@mixin navbar-brand-xl(){
    font-size: 2.4em;
    padding: 0px;
    margin-left: 100px;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to right,#ee0979,#ff6a00);
    -webkit-background-clip:text;
    color: transparent;
    font-weight: bolder;
}
@mixin navbar-brand-lg(){
    font-size: 1.5em;
    margin-left: 50px;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to right,#ee0979,#ff6a00);
    -webkit-background-clip:text;
    color: transparent;
    font-weight: bolder;
}
@mixin navbar-brand-md(){
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to right,#ee0979,#ff6a00);
    -webkit-background-clip:text;
    color: transparent;
    font-weight: bolder;
}
@mixin navbar-brand-sm(){
    font-size: 1.5em;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to right,#ee0979,#ff6a00);
    -webkit-background-clip:text;
    color: transparent;
    font-weight: bolder;
}
@mixin navbar-brand-xs(){
    font-size: 1.5em;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to right,#ee0979,#ff6a00);
    -webkit-background-clip:text;
    color: transparent;
    font-weight: bolder;
}
@mixin carousel-item(){
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 550px;
}
@mixin carousel-caption(){
    margin-bottom: 80px;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bolder;
   font-family: 'Slabo 27px', serif;
}
@mixin r1-xl(){
    margin-top: 170px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
@mixin c1-xl(){
    height: 20%;
    border-bottom: 1.55px dashed #e0bf5e;
    border-top: 1.55px dashed #e0bf5e;
    margin-top: 7px;
    color: transparent;
    flex-grow: 1;
}
@mixin c2-xl(){
text-align: center;
font-weight: bolder;
font-family: 'Roboto Condensed', sans-serif;
}
@mixin h5-xl(){
    width: 70%;
    margin-left: 160px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Satisfy', cursive;
    color: #707070;
}
@mixin hist-xl(){
   color: #bfa456;
font-family: 'Great Vibes', cursive;
text-align: center;  
}
@mixin p1-xl(){
     font-family: 'Catamaran', sans-serif;
    font-size: 1.15em;
    color: #707070;
    margin-top: 40px;
}
@mixin c4-xl(){
     width: 540px;
    height: 540px;
    margin-left: -40px;
    margin-top: 105px;
}
@mixin rr1-xl(){
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
@mixin cc1-xl(){
    height: 7%;
    border: 3px solid #e0bf5e;
    margin-top: 40px;
    color: transparent;
}
@mixin cc2-xl(){
    text-align: center;
    font-weight: bolder;
    font-family: 'Patua One', cursive;
    color: white;
    padding: 20px;
    flex-grow: 3;
}
@mixin h-xl(){
    width: 70%;
    margin-left: 185px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
    color: #b29859;
}
@mixin cc4-h1-xl(){
    text-align: center;                    
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
    color: #b29859; 
}
@mixin cc4-h3-xl(){
    font-size: 2.5em;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
}
@mixin cc4-h4-xl(){
    margin-top: 50px;
    color: white;
    padding: 12px;
    font-family: 'Fjalla One', sans-serif;
}



